{% extends "base.html" %}

{% block title %}MLMR{% endblock %}

{% block content %}

<div class="container pb-5">

  <h3 class="text-center pt-5 pb-5">Let us help you find your next movie!</h3>

  <div class="row">
    <div id="personalRedirect" class="col-md-4">
      <div class="card card-1">
        <h3>Personal Recommendations</h3>
        <p>Find something for yourself</p>
        <a href="/personalRecommendations" class="stretched-link"></a>
      </div>
    </div>
    <div id="groupRedirect" class="col-md-4">
      <div class="card card-2">
        <h3>Group Recommendations</h3>
        <p>Find a movie that the group can watch</p>
        <a href="/groupRecommendations" class="stretched-link"></a>
      </div>
    </div>
    <div id="exploreRedirect" class="col-md-4">
      <div class="card card-3">
        <h3>Explore</h3>
        <p>Still not sure? Try searching known movies and find something similar</p>
        <a href="/search" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}