{% extends "base.html" %}

{% block title %}Group Recommendations{% endblock %}

{% block content %}
  <!-- TODO: Load Icons directly  -->
  <!-- <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='movie_icon.png') }}" sizes="192x192" /> -->
  <!-- <img src="{{ url_for('static', filename='movie_icon.png') }}" class="icon" /> -->
  <!-- <h3>Recommend me a movie</h3>
  <form action="/groupRecommendations" method="post">
    <input type="text" name="query" placeholder="Enter your current mood" required />
    <input type="submit" value="Generate Movie" />
  </form>
  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{openAIAnswerUnformatted}}</p>

      </div>
    </div>
  </div> -->

  <div class="d-flex justify-content-center align-items-center container">
    <h3 class="mt-5 display-4 header-gradient">Group Recommendations&nbsp;</h3>
  </div>

  <form class="form-inline" action="/groupRecommendations/results" method="POST">

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Release Range</span>
      </div>
      <input type="text" name="release-range-search-gr" class="form-control" placeholder="2010-2022" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Genre</span>
      </div>
      <input type="text" name="genre-search-gr" class="form-control" placeholder="Horror" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Minimum Rating (%)</span>
      </div>
      <input type="text" name="rating-search-gr" class="form-control" placeholder="65" aria-label="Small" aria-describedby="inputGroup-sizing-sm" required>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Similar Movie(s)</span>
      </div>
      <input type="text" name="similar-search-gr" class="form-control" placeholder="Evil Dead (2013)" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="d-flex justify-content-center align-items-center container">
      <button type="submit" class="btn btn-primary mb-2">Search</button>
      </div>
  </form>

  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <hr class="hr" />
        <div class="d-flex justify-content-center align-items-center container">
            <h3 class="mt-2 display-4 header-gradient">Results&nbsp;</h3>
          </div>        <!-- <h3 class="text-primary">String result: {{query}}</h3> -->
        <!-- <p class="lead">{{groupSearchResults}}</p> -->
        <!-- <p class="lead">Split Results: {{groupSearchResultsSplit}}</p> -->
        <!-- <p class="lead">{{api_url_list}}</p> -->
        <!-- {% for movie in movieData %}
          <p class="lead">API Data: {{movie.page}}</p>
        {% endfor %} -->
      </div>
    </div>
  </div>

  <div class="container">
    {% for movie in movieData %}
    <div class="movie-card">
      <form action="/movie" method="post">
        <input type="hidden" name="movieId" value="{{movie.id}}">		
        <button type="submit" class="movie-header moviePoster" style="background:url('https://image.tmdb.org/t/p/w300{{movie.poster_path}}');"></button>
      </form>
        
      <div class="movie-content">
        <div class="movie-content-header">
          <form action="/movie" method="post">
            <input type="hidden" name="movieId" value="{{movie.id}}">
            <button type="submit" class="movie-title">{{movie.original_title}}</button>
          </form>
        </div>
        <div class="movie-info">
          <div class="info-section">
            <label>Release Date</label>
            <span>{{movie.release_date}}</span>
          </div>
          <div class="info-section">
            <label>TMDB</label>
            <span>{{movie.vote_average}}</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  
{% endblock %}