{% extends "base.html" %}

{% block title %}Movie Search{% endblock %}

<!-- Search Body -->
{% block content %}
<div class="d-flex justify-content-center align-items-center container">
  <h3>Search for a Known Movie&nbsp;</h3>
</div>

<div class="d-flex justify-content-center align-items-center container">
    <form action="/search" method="post">
      <input type="text" name="movie_query" placeholder="The Invitation (2022)" required />
      <!-- TODO: On click of GO, clear #movie div and fill it with search results -->
      <input type="submit" value="GO" />
    </form>
</div>


 <div>
      {% for movie in movies %}
      <div id="movie" href="/movie" style="background-image: url(http://image.tmdb.org/t/p/w500{{movie.backdrop_path}});">
      </div>
      {% endfor %}
  </div>

{% endblock %}
 <!-- Search Body End-->